
header {
    text-align: right;
    padding: 20px;
    background-color: cornflowerblue;
    color:#fff;
}

section {
    padding: 40px 0 40px 0;
}


.navigation-link {
    color: black;
    margin-right: 7px;
    font-size: 18px;
}

.home {
    text-align: center;
}

.home img {
    width: 20%
}

.services {
    background-color: cornflowerblue;
    color: #fff;
}

.services h2 {
    text-align: center;
}

.about {
    text-align: center;
    background-color: aquamarine;
}

.about ul {
    text-align: left;
}

.contacts {
    text-align: center;
    background-color: cornflowerblue
}

.contacts ul {
    text-align: left;
}
