div {
    background-color: red;
    margin-bottom: 10px;
}


.first {      /* с точкой - обращение к классу */ 
    background-color: blueviolet;
    margin-bottom: 10px;
}

.second {
    color: aqua;
    padding-top: 10px;
}

#anotherDiv {
    background-color: pink;
    color: darkgreen;
}